*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  color: white;
  background-color: rgb(21, 115, 208);
}
html , body {
  font-family: sans-serif , "Public-Sans";
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.text-white {
  color: #ffffff;
}
.text-black {
  color: #000000;
}
.wrapper-icon {
  position: fixed;
  right: 15px;
  top: 150px;
  cursor: pointer;
  z-index: 1000;
}
.box-up , .box-down {
  width: 67px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7px;
  border-radius: 5px;
  font-size: 12px;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 0 -5px 20px 5px rgba(0, 0, 0, .15);
  background-color: #ffffff;
  background-repeat: no-repeat;
}
.box-up {
  background-image: url("../icons-svg/Prebuilts.svg");
  background-position: 20px 15px;
}
.box-down {
  background-image: url("../icons-svg/BY-Now.svg");
  background-position: 15px 13px;
}
.wrapper-icon  h4 {
  margin-top: 7px;
}
.wrapper-icon img {
  position: relative;
  top: 7px;
  left: -70px;
  transition: all 0.3s;
}
.total:hover {
  background-position: 75px 15px;
  transition: 0.3s;
}
.total:hover img {
  left: 1px;
  top: 7px;
  transition: 0.3s;
}
/* poster */
.poster{
  width: 100%;
  height: 550px;
  background-color: #e2e2e2;
}
.inside-poster{
  width: 100%;
  transform: translateY(-15%);
  background-color: #fafafaff;
  justify-content: space-between;
}
.boxs-poster{
  width: 32.7%;
  padding: 30px;
  border: 1px solid gainsboro;
}
.boxs-poster a img{
  height: 186px;
}
.heading-title{
  font-size: 20px;
  height: 24px;
  margin: 33px 0;
}
.heading-title a{
  transition: all 0.3s;
}
.read-more{
  margin-top: 36px;
  height: 40px;
  line-height: 40px;
}
.read-more span p{
  width: 131px;
  background-color: #ffb600;
  border-radius: 20px;
}
.read-more a:hover span p{
  color: white;
  background-color: black;
}
.read-more span p{
  font-size: 14px;
}
.height-60{
  height: 60px;
  line-height: 30px;
}
/* Mauris */
.Mauris{
  margin-top: 102px;
  background-color: #000000ff;
  text-align: center;
}
.header-into-Mauris{
  margin-top: 144px;
  margin-bottom: 80px;
  width: 70%;
}
.header-into-Mauris h2{
  font-size: 45px;
  text-transform: capitalize;
}
.Mauris-dedicated{
  margin: 35px 0;
}
.border-bottom-mid{
  max-width: 100px;
  margin: 0 45%;
  border-bottom: 3px solid #ffb600;
}
.control-description p{
  line-height: 30px;
  color: #FFFFFF;
}
.main-mauris{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 144px;
}
.packages{
  width: 49.3%;
  height: 384px;
  margin-bottom: 15px;
  opacity: 0.3;
  transition: 0.3s all;
}
.packages:hover {
  transform: scale(1.03);
  opacity: 0.8;
}
/* images for packages */
.box-one{
  background: url("../images/Maintenance.jpg") no-repeat center center;
  background-size: cover;
}
.box-two{
  background: url("../images/wood-working.jpg") no-repeat center center;
  background-size: cover;
}
.box-three{
  background: url("../images/Decorating.jpg") no-repeat center center;
  background-size: cover;
}
.box-four{
  background: url("../images/Plumbing.jpg") no-repeat center center;
  background-size: cover;
}
/* images for icon-svg */
.decorating{
  background: url("../icons-svg/decorating.svg") no-repeat center center;
  background-size: cover;
}
.carpentry{
  background: url("../icons-svg/carpentry.svg") no-repeat center center;
  background-size: cover;
}
.maintenance{
  background: url("../icons-svg/maintenance.svg") no-repeat center center;
  background-size: cover;
}
.plumbing{
  background: url("../icons-svg/plumbing.svg") no-repeat center center;
  background-size: cover; 
}
.icon-svg{
  width: 100px;
  height: 100px;
}
.under-icon-svg{
  margin-top: 30px;
}
.under-icon-svg .title-under-icon-svg{
  font-size: 24px;
}
.color-mauris{
  color: #FFFFFFB3;
}
.paragraph-mauris{
  width: 70%;
  margin-top: 25px;
}
.paragraph-mauris .title-mauris{
  font-size: 16px;
  line-height: 30.4px;
}
/* services */
.into-services-first{
  padding-top: 100px;
}
.services .into-services-first , .services .into-services-second{
  align-items: center;
}
.left-description{
  width: 100%;
  max-width: 45%;
}
.title-services-one{
  margin-bottom: 10px;
}
.title-services-one p{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}
.big-title-services h2{
  font-size: 40px;
  padding: 10px 0;
  text-transform: capitalize;
}
.parent-description{
  margin-top: 15px;
}
.control-paragraph{
  margin: 10px 0;
}
.control-paragraph span{
  margin: 0 20px 0 5px;
}
.picture{
  width: 560px;
  height: 526px;
}
.with-tools{
  background: url("../images/Handyman-with-tools.jpg") no-repeat center center;
}
.wood-working{
  background: url("../images/wood-working.jpg") no-repeat center center;
}
/* down-services  */
.into-services-second{
  padding-top: 80px;
}
.right-description{
  width: 100%;
  max-width: 50%;
}
.container-description{
  width: 520px;
}
.paragraph-right-description{
  height: 91px;
  line-height: 33px;
}
.paragraph-right-description .interpretation{
  font-size: 16px;
}
.about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 20px;
  width: 197px;
  height: 40px;
  border-radius: 50px;
  background-color: #ffb600;/
}
.about-us:hover a div p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 197px;
  height: 40px;
  border-radius: 50px;
  color: white;
  background-color: black;
}
/* help */
.help-inside{
  padding: 100px 0;
}
.left-explain{
  width: 47%;
  padding: 80px 80px;
  background-color: #F5F5F5;
}
.help-title p{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.7px;
}
.help-heading h2{
  width: 100%;
  font-size: 40px;
  text-transform: capitalize;
  margin-top: 20px;
}
.help-dedicated{
  margin: 35px 0;
}
.help-border-bottom{
  width: 85px;
  border-bottom: 3px solid #ffb600;
}
.help-paragraph{
  line-height: 30px;
}
.help-paragraph .fff{
  font-size: 16px;
}
.right-img{
  width: 40%;
}
.about-we-working{
  margin-top: 27px;
  height: 186px;
  background-color: #FFFFFF;
}
.fully-protected{
  border: 3px solid #ffb600;
}
.follow p{
  margin: 0 15px;
}
.regulatory-safety{
  border: 3px solid #ffb600;
}
.follow{
  height: 86px;
}
.right-information{
  width: 45%;
  background: url("../images/help.jpg") no-repeat center center;
  background-size: cover;
}
.common-one p{
  font-size: 12px;
  font-family: "Public-Sans";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.common-two h2{
  margin-top: 15px;
  font-size: 40px;
  text-transform: capitalize;
}
.inner-news{
  margin-bottom: 70px;
}
.news-dedicated{
  margin-top: 25px;
}
.news-border-bottom{
  width: 85px;
  border-bottom: 3px solid #ffb600;
}
.into-read-more-news{
  width: 240px;
  height: 40px;
  border-radius: 50px;
  background-color: #ffb600;
}
.read-more-news:hover .into-read-more-news{
  background-color: black;
  cursor: pointer;
}
.read-more-news:hover .into-read-more-news .parent-paragraph-news .paragraph-news{
  color: white;
}
.paragraph-news{
  font-size: 14px;
  font-weight: bold;
}
/* banner */
.banner{
  width: 100%;
}
.boxs-banner{
  width: 32%;
  padding: 3% 3%;
  height: 100%;
  border: 1px solid gainsboro;
}
.banner-image a img{
  width: 100%;
  height: 100%;
}
.ttile-banner{
  margin-top: 5%;
}
.ttile-banner h2 a{
  font-size: 20px;
  transition: all 0.3s;
}
.ttile-banner h2 a:hover{
  color: #ffb600;
}
.about-banner{
  margin: 5% 0;
  font-size: 13px;
}
.padding-left{
  padding: 0 3%;
}
.banner-border-bottom{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: 10%;
  width: 100%;
  max-width: 70px;
  border-bottom: 3px solid #ffb600;
}
/* contact-us */
.contact-us{
  width: 100%;
  margin-top: 115px;
  padding-top: 90px;
  padding-bottom: 172px;
  background-color: #fafafaff;
}
.contact-dedicated{
  margin-top: 20px;
}
.contact-border-bottom{
  width: 80px;
  border-bottom: 3px solid #ffb600;
}
/* form */
.contact-us form{
  width: 60%;
  margin-top: 50px;
}
.contact-us .form-control{
  width: 100%;
}
.contact-us form .form-control input{
  width: 90%;
  height: 50px;
  margin-top: 5px;
}
.parent-down {
  margin-top: 40px;
}
.contact-us form .form-control input , .contact-us form textarea{
  outline: 0;
  border: 1px solid gainsboro;
  padding: 16px 16px;
}
/* textarea */
.control-textarea{
  margin-top: 40px;
}
.contact-us form textarea{
  min-width: 95%;
  max-width: 95%;
  max-height: 110px;
  min-height: 110px;
}
/* submit */
.contact-us .submit{
  order: 0;
  margin-top: 40px;
}
.contact-us .submit .send{
  width: 246px;
  height: 40px;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  background-color: #ffb700ff;
}
.submit .send:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}
/* Outstanding-Work */
.Outstanding-Work{
  width: 36%;
  padding: 4% 4%;
  border: 5px solid #ffb600;
  background-color: #ffffff;
}
.inner-Outstanding-Work .work-picture span img{
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.title-of-work{
  width: 100%;
}
.title-of-work h2{
  font-size: 22px;
  margin-top: 25px;
}
.parent-stars{
  margin-top: 25px;
}
.all-icons{
  margin-right: 10px;
}
.exposition{
  margin-top: 40px;
  line-height: 30px;
}
.persones-name{
  margin-top: 20px;
}
.persones-name p{
  font-size: 18px;
}
/* for laptop l*/
@media (max-width: 1440px) {
  .container{
    padding: 0 40px;
  }
  .inside-poster{
   width: 100%;
   justify-content: space-between;
  }
  .boxs-poster a img{
    height: 136px;
  }
  .read-more{
    margin-top: 70px;
  }
}
/* for laptop m*/
@media (max-width: 1024px) {
  .services .into-services-first , .services .into-services-second{
    align-items: flex-start;
  }
  .poster{
    height: 510px;
  }
  .parent-image a img{
    width: 100%;
    height: 100%;
  }
  .read-more{
    margin-top: 90px;
  }
  /* services */
  .into-services-first{
    padding-top: 70px;
  }
  .picture{
    width: 100%;
    max-width: 50%;
    background-size: contain;
  }
  .container-description{
    width: 367px;
  }
  .into-services-second{
    padding-top: 0px;
  }
  .paragraph-right-description{
    width: 100%;
    max-width: 370px;
    height: 91px;
  }
  .height-60{
    line-height: 25px;
  }
  .about-us{
    margin-top: 33px;
  }
  .left-explain{
    width: 50%;
    padding: 80px 80px;
  }
  .right-information{
    width: 50%;
    background: url("../images/help.jpg") no-repeat center center;
    background-size: contain;
  }
  /* banner */
  .about-banner .sss{
    display: flex;
    flex-grow: 1;
  }
  .about-banner .ssm{
    display: flex;
    flex-grow: 5;
  }
  /* contact-us */
  .contact-us{
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .contact-us form .form-control input{
    width: 70%;
  }
  .contact-us form textarea{
    min-width: 85%;
    max-width: 85%;
  }
}
@media (max-width: 950px) {
  .ttile-banner{
    width: 100%;
    max-width: 70%;
    margin-left: 15%;
  }
}
/* for tablet */
@media (max-width: 768px) {
  .container-description{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-us{
    margin-top: 135px;
  }
  /* banner */
  .about-banner{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .boxs-up , .boxs-down{
    width: 50px;
    height: 50px;
    background-color: #ffb600;
  }
  .poster , .banner , .contact-us{
    width: 100%;
    max-width: 800px;
    min-width: 650px;
    height: auto;
  }
  .inside-poster , .inside-banner{
    margin-top: 130px;
    flex-direction: column;
  }
  .boxs-poster , .boxs-banner ,  .into-contact-us{
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  .heading-title{
    margin: 15px;
  }
  .read-more{
    margin-top: 36px;
  }
  .parent-image a img{
    width: 100%;
    max-width: 100vw;
  }
  .into-services-first , .into-services-second{
    display: flex;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  .into-services-first{
    flex-direction: column-reverse;
  }
  .into-services-second{
    flex-direction: column;
  }
  .picture{
    background-size: contain;
  }
  .picture,.left-description,.right-description,.paragraph-right-description,.container-description{
    max-width: 100%;
  }
  .container-description{
    margin-top: 50px;
    display: block;
  }
  .about-us {
    margin-top: 50px;
  }
  .services{
    width: 100%;
    max-width: 800px;
    min-width: 650px;
  }
  .Mauris{
    width: 100%;
    max-width: 800px;
    min-width: 650px;
  }
  .into-Mauris{
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  .header-into-Mauris{
    width: 100%;
  }
  .main-mauris{
    flex-direction: column;
  }
  .packages{
    width: 100%;
  }
  /* help */
  .help{
    width: 100%;
    max-width: 800px;
    min-width: 650px;
  }
  .help-inside{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    flex-direction: column;
  }
  .left-explain{
    width: 100%;
    display: block;
    padding: 40px 30px;
  }
  .right-information{
    width: 100%;
    height: 60vh;
    background: url("../images/help.jpg") no-repeat center top;
    background-size: cover;
  }
  /* news */
  .news{
    width: 100%;
    max-width: 800px;
    min-width: 650px;
  }
  .common-title{
    width: 100%;
  }
  .inner-news{
    width: 100%;
    max-width: 100vw;
    margin-top: 100px;
    margin: 0 auto;
    flex-direction: column;
  }
  .read-more-news{
    width: 100%;
    margin-top: 30px;
  }
  .into-read-more-news{
    width: 100%;
  }
  /* banner */
  .about-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about-banner .sss {
    display: flex;
    flex-grow: 0;
  }
  .about-banner .ssm {
    display: flex;
    flex-grow: 0;
  }
  /* contact-us */
  .contact-us{
    width: 100%;
    margin-top: 550px;
    margin: 0 auto;
  }
  .into-contact-us{
    flex-direction: column;
  }
  .into-contact-us form{
    width: 100%;
  }
  .mid-parent{
    flex-direction: column;
  }
  .Outstanding-Work {
    width: 100%;
    margin-top: 40px;
  }
  .persones-name {
    margin-bottom: 20px;
  }
  .contact-us form .form-control input {
    width: 100%;
  }
  .contact-us form textarea {
    min-width: 100%;
    max-width: 100%;
  }
}
/* wrapper-icon */
@media (max-width: 600px) {
  .wrapper-icon{
    display: none;
  }
}