/* PublicSans-ExtraLight */
@font-face {
  font-family: "Public-Sans";
  src: url("../fonts/PublicSans-ExtraLight.eot");
}
@font-face {
  font-family: "Public-Sans";
  src: url("../fonts/PublicSans-ExtraLight.ttf");
}
@font-face {
  font-family: "Public-Sans";
  src: url("../fonts/PublicSans-ExtraLight.woff");
}
@font-face {
  font-family: "Public-Sans";
  src: url("../fonts/PublicSans-ExtraLight.woff2");
}
